<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.esprit.rentagro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.esprit.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
        <activity android:name="com.esprit.rentagro.Activities.LoginActivity"    android:screenOrientation="portrait"></activity>
        <activity android:name="com.esprit.rentagro.Activities.RegisterActivity"    android:screenOrientation="portrait"/>
        <activity
            android:screenOrientation="portrait"
            android:name="com.esprit.rentagro.Activities.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.esprit.rentagro.Activities.AddActivity"     android:screenOrientation="portrait"/>
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnjNm0nfydYbpEQIgyJWjBhODuGjrcJm0" />

        <activity android:name="com.esprit.rentagro.Activities.test"   android:screenOrientation="portrait"></activity>
        <activity android:name="com.esprit.rentagro.Activities.MainActivity"    android:screenOrientation="portrait"/>
        <activity android:name="com.esprit.rentagro.Activities.DetailActivity"   android:screenOrientation="portrait" />
        <activity android:name="com.esprit.rentagro.Activities.SplashActivity"    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.esprit.rentagro.Activities.ProfileActivity"    android:screenOrientation="portrait"></activity>
    </application>

</manifest>